spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/parchelector_dev
    username: postgres
    password: postgres
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.parchelector: DEBUG
    org.hibernate.SQL: DEBUG

